.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heroImage {
  background-image: url("/src/images/daniel-olah-HNkgPFBShSw-unsplash.jpg");
  background-size: cover;
}

.heroImageAlt {
  background-position: center center;
  background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url("/src/images/Picture2.jpg");;
  background-size: cover;
}

.button{
  border-color: #FFFFFF !important;
  color: #FFFFFF !important
}

.buttonLeft{
}

.buttonMiddle{
  margin-right: 20px !important;
  margin-left: 20px !important;
}

.buttonRight{
}

.buttonContainer{
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}