.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heroImage {
  background-image: url("/src/images/daniel-olah-HNkgPFBShSw-unsplash.jpg");
  background-size: cover;
}

.heroImageAlt {
  background-position: center center;
  background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url("/src/images/Picture2.jpg");;
  background-size: cover;
}

.aboutMeImage {
  background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url("/src/images/CodingBackground.jpg");;
  background-size: cover;
}

.navbar{
  width: 100%;
  height: 75px;
  top: 0;
  position: absolute;
  z-index: 1;
  background-color: aqua;
  opacity: 0.8;
}

body.fp-viewing-Work .navBar{ 
  opacity: 0%;
  z-index: -2
  }

body.fp-viewing-About .filterBar{ 
  transition: opacity .5s;
  opacity: 0%;

  }
body.fp-viewing-Intro .filterBar{ 
  transition: opacity .5s;
  opacity: 0%;
  }
body.fp-viewing-Work .filterBar{ 
  transition: opacity 1s;
  opacity: 100%;
  }

@media (max-width: 768px) {
  body.fp-viewing-ContactForm .navBar{ 
    opacity: 90%;
    transition: opacity 1s;
    z-index: -2
  }
  body.fp-viewing-About .navBar{ 
    opacity: 90%;
    transition: opacity 1s;
    z-index: -2
    }
}

/* About List CSS */
  
.profileText{
    width: 75%;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 500px;
  }

  .buttons{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .button{
    padding: 5px;
    font-size: 10rem;
  }

  .buttonContainerGo, .buttonContainerNoGo{
    background-color: white;
    border: white 2px;
    border-radius: 5px;
    opacity: 90%;
  }
  .buttonContainerGo:hover{
    transform: scale(1.05);
    opacity: 100%;
  }

@media only screen and (max-width: 1050px) {
  .profilePicture, .profilePictureBox{
    display: none;
    width: 0%
    }
  .profileText{
    width: 100%;
  }
  .buttons{
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .button{
      font-size: .65rem !important;
    }
}

@media (max-width: 768px) {
  .profilePicture, .profilePictureBox{
    display: none;
    width: 0%
  }
    .buttons{
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .profileText{
    width: 100%;
  }
  .buttonAccordian{
    flex-direction: column;
  }
  body.fp-viewing-About .navBar{ 
    opacity: 0%;
    transition: opacity 1s;
    }
}

.profilePicture {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    border-radius: 5px;
}


.flex-container > * {   flex: 1; }

.css-zqcytf-MuiButtonGroup-root{
  box-shadow: 0;
}

.underline{
  border-bottom: 2px solid rgba(194, 211, 203, 1)
}

.aboutTextPadding{
  padding-left: "5px"
}


ul  {
  margin-top: 0px;
  padding-top: 0px;
}

.aboutHeaders{
  padding-left: 5px;
}

.aboutContent{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

/* Contact Section CSS */

.form{
  width: 90%;
}

.form-input{
  width: 100%;
}
